
     
        form{padding: 50px;}
      
        label{color:  rgb(51, 2, 94);
    
        }
   select{width: 435px;
    border-radius: 7px;
    border-color: rgb(226, 225, 225);
height: 39px;}
.couleurbtn{background-color: rgb(120, 69, 168);}
